<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sofia.pokeject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logologo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addme" />
        <activity android:name=".PaoyingPage" />
        <activity android:name=".paoyinghard" />
        <activity android:name=".selectstage" />
        <activity android:name=".winpage" />
        <activity android:name=".losepage" />
        <activity android:name=".tutorail" />
        <activity android:name=".xofight" />
        <activity android:name=".rank" />
        <activity android:name=".Loing" />
        <activity android:name=".tutoraileasy" />
        <activity android:name=".rankHard" />
        <activity android:name=".addmehard" />
        <activity android:name=".list.Maineasy" />
        <activity android:name=".listHard.mo" />
        <activity android:name=".selectrank"></activity>
    </application>

</manifest>